.cell {
  border: 1px solid black;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-family: times;
  height: 50px;
  width: 50px;
}

.cell-constant {
  font-weight: bold;
  color: brown;
}

.cell-active {
  background-color: #FF7326;
}

.cell-group {
  background-color: #ff9c67;
}