.cell {
  border: 1px solid black;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-family: times;
  height: 50px;
  width: 50px;
}

.cell:hover {
  background-color: #FA8F04;
}